body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
#top{
    font-size: 40px;
    margin-bottom: 5px;
}


header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
    position:relative;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    text-align: center;

}
li:hover{
    background: #0066CC;
    color:#fff;
}
#tango_imi {
    display: flex;
    justify-content: center
}



#text_area{
  margin: 1%;
  width: 95%;
  height: 50px;
  font-size:80%;
  box-shadow: 3px 3px 3px 3px #555;
}
#text_area2{
    margin: 1%;
    width: 95%;
    height: 50px;
    font-size:80%;
    box-shadow: 3px 3px 3px 3px #555;
  }
  #text_area3{
    margin: 1%;
    width: 95%;
    height: 100px;
    font-size:80%;
    box-shadow: 3px 3px 3px 3px #555;
  }


  #sentakushi {
    display:flex;
    justify-content: center;
}

#sentaku1 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
}
#sentaku2 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
}
#sentaku3 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
}

#hantei {
    display:flex;
    justify-content: center;
}

#right {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    width: 120px;
    border-radius: 10px;
}
#wrong {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    width: 120px;
    border-radius: 10px;
}
#next {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    width: 120px;
    border-radius: 10px;
}


#kekka {
    display: flex;
    justify-content: center;
    height: 50px;
}
#title {
    font-size: 30px;
    margin-top: 0px;
}
#seikairitsu {
    font-size: 30px;
    margin-top: 0px;
}

#test {
    text-align: center;
    font-size: 30px;
}

#hantei2 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: blue;
}

#ichiran_total {
    display:flex;
    justify-content: center;

}
#ichiran_title {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
}
#ichiran_ichi {
    display: flex;
    justify-content: center;
}

/* テーブル全体のスタイル設定 */
#ichiran {
    width: 30%; /* テーブルの幅を100%に設定 */
    border-collapse: collapse; /* 罫線を隣接させる */
    font-size: 20px;
}
/* テーブルのヘッダーとセルのスタイル */
#ichiran th, #ichiran td {
    border: 1px solid black; /* 黒い罫線 */
    padding: 8px; /* 内側の余白 */
    text-align: left; /* テキストを左寄せ */
}
/* テーブルのヘッダーの背景色とフォントスタイル */
#ichiran thead th {
    background-color: #d9e8d9; /* 背景色をグレーに */
    font-weight: bold; /* フォントを太字に */
}